<%- include('partials/header.ejs') %>
<main>
	<div id="search_results">
		<% if(locals.searchResults && searchResults.length > 0) {%> <% searchResults.forEach(book =>
		{ %>
		<div class="search-result">
			<a class="sr-link" href="/book-details?key=<%= book.key %>">
				<% if(book.cover_i) { %>
				<img
					src="https://covers.openlibrary.org/b/id/<%=book.cover_i %>-M.jpg"
					class="sr-image"
				/>
				<% }else{ %> <img class="sr-image" src="/images/noBookCover.jpg" /><% } %>
			</a>
			<span class="sr-title"><%= book.title %></span>
            <% if(book.author_name){ %>
			<a class="sr-author" href="/search/author?name=<%= book.author_name %>"
				><%= book.author_name.toString().replaceAll(',', ', ')%></a>
			
            <% } %>
		</div>
		<% }) %> <% } else { %> This bookshelf is looking a little empty. <% } %>
	</div>
    <% if(locals.searchPageInfo && (!searchPageInfo.minReached || !searchPageInfo.maxReached)){%>
	<div id="page_nav_con">
		<a class="page-nav left" <%= searchPageInfo.minReached ? '' : 'href=/search/last-page' %>
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="white"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-chevron-left-icon lucide-chevron-left"
			>
				<path d="m15 18-6-6 6-6" /></svg
		></a>
		<span class="current-page"><%= searchPageInfo.page ? searchPageInfo.page : ''%></span>
		<a class="page-nav right" <%= searchPageInfo.maxReached ? '' : 'href=/search/next-page' %>
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="white"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-chevron-right-icon lucide-chevron-right"
			>
				<path d="m9 18 6-6-6-6" /></svg
		></a>
	</div>
    <%}%>
</main>
<%- include('partials/footer.ejs') %>
