<%- include('partials/header.ejs') %>
<main>
	<div id="search_results">
		<% if(locals.searchResults && searchResults.length > 0) {%> <% searchResults.forEach(book =>
		{ %>
		<div class="search-result">
			<a class="sr-link" href="/book-details?key=<%= book.key %>">
				<% if(book.cover_i) { %>
				<img
					src="https://covers.openlibrary.org/b/id/<%=book.cover_i %>-M.jpg"
					class="sr-image"
				/>
				<% }else{ %> <img class="sr-image" src="/images/noBookCover.jpg" /><% } %>
			</a>
			<span class="sr-title"><%= book.title %></span>
			<span class="sr-author"
				><%= book.author_name ? book.author_name.toString().replaceAll(',', ', ') :
				''%></span
			>
		</div>
		<% }) %> <% } else { %> This bookshelf is looking a little empty. <% } %>
	</div>
</main>
<%- include('partials/footer.ejs') %>
